<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base46" version="16.1.0.24" targetFramework="net461" />
  <package id="Syncfusion.DocIO.Base46" version="16.1.0.24" targetFramework="net461" />
  <package id="Syncfusion.DocToPdfConverter.Base46" version="16.1.0.24" targetFramework="net461" />
  <package id="Syncfusion.OfficeChart.Base46" version="16.1.0.24" targetFramework="net461" />
  <package id="Syncfusion.OfficeChartToImageConverter.Wpf46" version="16.1.0.24" targetFramework="net461" />
  <package id="Syncfusion.Pdf.Base46" version="16.1.0.24" targetFramework="net461" />
  <package id="Syncfusion.SfChart.WPF46" version="16.1.0.24" targetFramework="net461" />
</packages>